extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nostros")
            .col-md-7
                h1 #{pagina}
                blockquote Mauris et congue nibh. Nunc volutpat nec est vel pharetra. Phasellus nec tortor in nunc vestibulum aliquet sed non diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                p Cras lobortis augue id aliquet auctor. Nunc quis lectus nec massa auctor egestas et eget odio. Nunc convallis est justo, ac porta lorem ultrices condimentum. Sed varius, ex eu imperdiet semper, magna leo dignissim arcu, eget volutpat quam neque eu tellus. Donec risus quam, pharetra in interdum consectetur, volutpat et mauris. Proin accumsan mauris quis sodales luctus. Duis nec faucibus purus, sed commodo lectus. 
                p Aenean porta ultrices tincidunt. Morbi accumsan eu sem non suscipit. In semper vitae magna et varius. Morbi pellentesque nibh ut tellus vestibulum mollis. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nulla arcu metus, finibus id magna non, posuere feugiat massa. Proin vitae leo in enim pellentesque venenatis quis vitae nunc.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nulla arcu metus, finibus id magna non, posuere feugiat massa. Proin vitae leo in enim pellentesque venenatis quis vitae nunc.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Nulla arcu metus, finibus id magna non, posuere feugiat massa. Proin vitae leo in enim pellentesque venenatis quis vitae nunc.